.breadcrumb-custom{
    background-color: #fff !important;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: $box-shadow;
    overflow: hidden;
    .breadcrumb-link{
        color: $primary-color;
        font-size: $font-size - 2px;
        &:hover{
            color: rgb(197, 23, 23);
        }
    }
}