.services{
    margin: 30px 0;
    display: flex;

    .service-item{
        background-color: #fff;
        padding: 10px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin-bottom: 10px;

        svg{
            color: $primary-color;
            font-size: 46px;
            margin-left: 20px;
        }
        .service-texts{
            h6{
                font-size: $font-size + 2px;
                margin-bottom: 4px;
            }
            small{
                color: #999;
                font-size: $font-size - 3px;
                margin-top: 0px;
                
            }
        }
    }
}

@media screen and (max-width:992px) {
    .services{
        margin: 30px 0;
        display: flex;
    
        .service-item{
            background-color: #fff;
            padding: 10px 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            box-shadow: $box-shadow;
            margin-bottom: 10px;
    
            svg{
                color: $primary-color;
                font-size: 46px;
                margin-left: 20px;
            }
            .service-texts{
                h6{
                    font-size: $font-size ;
                    margin-bottom: 4px;
                }
                small{
                    color: #999;
                    font-size: $font-size - 3px;
                    margin-top: 0px;
                    
                }
            }
        }
    }
}